version: "3.9"

services:

  ai-service:
    image: 589335871756.dkr.ecr.us-east-2.amazonaws.com/ai-service:latest
    ports:
      - "8001:8000"   # Kong → Private EC2 → AI
    environment:
      AWS_REGION: us-east-2
      SECRET_ID: /investment/prod/ai
    restart: unless-stopped
    networks:
      - backend-net

  oms-service:
    image: 589335871756.dkr.ecr.us-east-2.amazonaws.com/oms-service:latest
    ports:
      - "8002:8000"
    environment:
      AWS_REGION: us-east-2
      SECRET_ID: /investment/prod/oms
    restart: unless-stopped
    networks:
      - backend-net

  portfolio-service:
    image: 589335871756.dkr.ecr.us-east-2.amazonaws.com/portfolio-service:latest
    ports:
      - "8003:8000"
    environment:
      AWS_REGION: us-east-2
      SECRET_ID: /investment/prod/portfolio
    restart: unless-stopped
    networks:
      - backend-net

  blotter-service:
    image: 589335871756.dkr.ecr.us-east-2.amazonaws.com/blotter-service:latest
    ports:
      - "8004:8000"
    environment:
      AWS_REGION: us-east-2
      SECRET_ID: /investment/prod/blotter
    restart: unless-stopped
    networks:
      - backend-net

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"  # OK for Phase 1 only
    environment:
      POSTGRES_DB: investment
      POSTGRES_USER: investment_user
      POSTGRES_PASSWORD: strong-demo-password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - backend-net

networks:
  backend-net:
    driver: bridge

volumes:
  postgres_data:
